HOST=localhost
PORT=8080
CERT_FILE_PATH=cert/server.crt
KEY_FILE_PATH=cert/server.key

APP_ENV=DEV
APP_VERSION=1.0.0
APP_NAME=com.example.app

DB_HOST=localhost
DB_USER=root
DB_PORT=1234
DB_AUTO_MIGRATE=false
DB_PASSWORD=root
DB_NAME=db
DB_SSLMODE=disable

GRPC_HOST=0.0.0.0
GRPC_PORT=1234

JWT_PRIVATE_KEY_HEX=**********
JWT_PUBLIC_KEY_HEX=**********

KDF_OPSLIMIT=2
KDF_MEMLIMIT=67108864
KDF_ALG=2
ENC_VERSION=1


S3_ENDPOINT=localhost:8333
S3_ACCESS_KEY_ID=SILKW41POES3ATP3DL99
S3_SECRET_ACCESS_KEY=/luBJXPD30oZz5Sjt9Uei2H/6yqg4yLVfahjHlhD
S3_BUCKET_NAME=drive-chunks
S3_INSECURE_SKIP_VERIFY=true

B2_APPLICATION_KEY_ID=SILKW41POES3ATP3DL99
B2_APPLICATION_KEY=/luBJXPD30oZz5Sjt9Uei2H/6yqg4yLVfahjHlhD

DISABLE_SWEEPS=false
SWEEP_HOURLY_INTERVAL=1h
SWEEP_DAILY_INTERVAL=12h
SWEEP_COMPLETED_INTERVAL=1h
UPLOAD_SESSION_EXPIRES_HOURS=24
TRASH_RETENTION_DAYS=30
