HOST=localhost
PORT=8080
CERT_FILE_PATH=cert/server.crt
KEY_FILE_PATH=cert/server.key

APP_ENV=DEV
APP_VERSION=1.0.0
APP_NAME=com.example.app

DB_HOST=localhost
DB_USER=root
DB_PORT=1234
DB_AUTO_MIGRATE=false
DB_PASSWORD=root
DB_NAME=db
DB_SSLMODE=disable

GRPC_HOST=0.0.0.0
GRPC_PORT=1234

JWT_PRIVATE_KEY_HEX=**********
JWT_PUBLIC_KEY_HEX=**********

KDF_OPSLIMIT=2
KDF_MEMLIMIT=67108864
KDF_ALG=2
ENC_VERSION=1