# Keys in this example environment file were pre-generated for showcase purposes, these are sample keys,
# and should not be used in production
HOST=localhost
PORT=8080
CERT_FILE_PATH=cert/server.crt
KEY_FILE_PATH=cert/server.key

APP_ENV=DEV
APP_VERSION=1.0.0
APP_NAME=com.example.app

DB_HOST=localhost
DB_USER=root
DB_PORT=1234
DB_AUTO_MIGRATE=false
DB_PASSWORD=root
DB_NAME=db
DB_SSLMODE=disable

GRPC_HOST=0.0.0.0
GRPC_PORT=1234

JWT_PRIVATE_KEY_HEX=**********
JWT_PUBLIC_KEY_HEX=**********

KDF_OPSLIMIT=2
KDF_MEMLIMIT=67108864
KDF_ALG=2
ENC_VERSION=1


S3_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=bucket
S3_INSECURE_SKIP_VERIFY=false

SECURITY_CAPTCHA_SECRET=0x0000000000000000000000000000000000000000
SECURITY_CAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001
SECURITY_TURNSTILE_SECRET=1x0000000000000000000000000000000AA
SECURITY_TURNSTILE_SITE_KEY=1x00000000000000000000AA


B2_APPLICATION_KEY_ID=
B2_APPLICATION_KEY=

DISABLE_SWEEPS=false
SWEEP_HOURLY_INTERVAL=1h
SWEEP_DAILY_INTERVAL=12h
SWEEP_COMPLETED_INTERVAL=1h
UPLOAD_SESSION_EXPIRES_HOURS=24
TRASH_RETENTION_DAYS=30

#KV_KEY is base64 (32 bytes)
KV_URL=
KV_KEY=YntMWL03dUaYhdmFF+T88we4yToLFAaaRtVVmUUtpB0=
OPAQUE_SERVER_SETUP=
EMAIL_ENCRYPTION_KEY=YntMWL03dUaYhdmFF+T88we4yToLFAaaRtVVmUUtpB0=
EMAIL_HASH_SECRET_KEY=YntMWL03dUaYhdmFF+T88we4yToLFAaaRtVVmUUtpB0=

EMAIL_KEY=test
EMAIL_UPDATES_FROM_SENDER_NAME=Example
EMAIL_UPDATES_VERIFIED_DOMAIN=noreply@updates.example.com
EMAIL_SUPPORT_FROM_SENDER_NAME="Example Support"
EMAIL_SUPPORT_VERIFIED_DOMAIN=help@support.example.com

# Signup Limits
RL_SIGNUP_IP_RATE=5
RL_SIGNUP_IP_BURST=2

# Signin Limits
RL_SIGNIN_IP_RATE=10
RL_SIGNIN_IP_BURST=10

# Files Limits
RL_FILES_IP_RATE=300
RL_FILES_IP_BURST=100
RL_FILES_USER_RATE=100
RL_FILES_USER_BURST=50

# Devices Limits
RL_DEVICES_IP_RATE=300
RL_DEVICES_IP_BURST=100
RL_DEVICES_USER_RATE=6
RL_DEVICES_USER_BURST=30

# Keys Limits
RL_KEYS_IP_RATE=300
RL_KEYS_IP_BURST=100
RL_KEYS_USER_RATE=100
RL_KEYS_USER_BURST=50

# Refresh & Signout
RL_REFRESH_IP_RATE=10
RL_REFRESH_IP_BURST=5
RL_SIGNOUT_IP_RATE=10
RL_SIGNOUT_IP_BURST=5

HEALTH_TOKEN=
SENTRY_DSN=

# Demo Account Keys
DEMO_MASTER_KDF_SALT=
DEMO_ACC_ENCRYPTION_PUBLIC_KEY=
DEMO_ENC_ENCRYPTION_PRIVATE_KEY=
DEMO_ENCRYPTION_KEY_NONCE=
DEMO_SIGNING_PUBLIC_KEY=
DEMO_ENC_SIGNING_PRIVATE_KEY=
DEMO_SIGNING_KEY_NONCE=
DEMO_DEFAULT_SHARE_PUBLIC_KEY=
DEMO_DEFAULT_SHARE_WRAPPED_PRIVATE_KEY=
DEMO_DEFAULT_SHARE_PRIVATE_KEY_NONCE=
DEMO_DEFAULT_SHARE_ENCRYPTED_PASSPHRASE_FOR_OWNER=
DEMO_DEFAULT_SHARE_SIGNED_ENCRYPTED_PASSPHRASE_FOR_OWNER=
DEMO_REGISTRATION_RECORD=
DEMO_ROOT_NODE_PUBLIC_KEY=
DEMO_ROOT_NODE_WRAPPED_PRIVATE_KEY=
DEMO_ROOT_NODE_PRIV_KEY_NONCE=
DEMO_ROOT_NODE_SIGNED_ENCRYPTED_PASSPHRASE=
DEMO_ROOT_NODE_ENCRYPTED_PASSPHRASE=
WEBHOOK_URL=