# Keys in this example environment file were pre-generated for showcase purposes, these are sample keys,
# and should not be used in production
HOST=localhost
PORT=8080
CERT_FILE_PATH=cert/server.crt
KEY_FILE_PATH=cert/server.key

FRONTEND_URL=http://localhost:3000

APP_ENV=DEV
APP_VERSION=1.0.0
APP_NAME=com.example.app

DB_HOST=postgres
DB_USER=quartz_user
DB_PORT=5432
DB_AUTO_MIGRATE=true
DB_PASSWORD=quartz_password
DB_NAME=quartz_dev
DB_SSLMODE=disable

GRPC_HOST=0.0.0.0
GRPC_PORT=1234

JWT_PRIVATE_KEY_HEX="30770201010420493cf6901fc9044621c8621b80078ba02a31b671c079d805d6473061720a6b3ba00a06082a8648ce3d030107a14403420004de9cf0365c47bf04b006a624fb4d45f20f2e534f7b539774de127dfee87264dac031039960c113e8d54b137ef539095846106b7399892ae52ba45afee87af800"
JWT_PUBLIC_KEY_HEX="3059301306072a8648ce3d020106082a8648ce3d03010703420004de9cf0365c47bf04b006a624fb4d45f20f2e534f7b539774de127dfee87264dac031039960c113e8d54b137ef539095846106b7399892ae52ba45afee87af800"

KDF_OPSLIMIT=2
KDF_MEMLIMIT=67108864
KDF_ALG=2
ENC_VERSION=1

S3_ENDPOINT=localhost:8333
S3_ACCESS_KEY_ID=any
S3_SECRET_ACCESS_KEY=any
S3_BUCKET_NAME=quartz_dev
S3_INSECURE_SKIP_VERIFY=true
S3_SECURE=false

SECURITY_CAPTCHA_SECRET=0x0000000000000000000000000000000000000000
SECURITY_CAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001
SECURITY_TURNSTILE_SECRET=1x0000000000000000000000000000000AA
SECURITY_TURNSTILE_SITE_KEY=1x00000000000000000000AA

B2_APPLICATION_KEY_ID=
B2_APPLICATION_KEY=

DISABLE_SWEEPS=false
SWEEP_HOURLY_INTERVAL=1h
SWEEP_DAILY_INTERVAL=12h
SWEEP_COMPLETED_INTERVAL=1h
UPLOAD_SESSION_EXPIRES_HOURS=24
TRASH_RETENTION_DAYS=30

#KV_KEY is base64 (32 bytes)
KV_URL=redis://redis:6379/0
KV_KEY=YntMWL03dUaYhdmFF+T88we4yToLFAaaRtVVmUUtpB0=
OPAQUE_SERVER_SETUP=
EMAIL_ENCRYPTION_KEY=YntMWL03dUaYhdmFF+T88we4yToLFAaaRtVVmUUtpB0=
EMAIL_HASH_SECRET_KEY=YntMWL03dUaYhdmFF+T88we4yToLFAaaRtVVmUUtpB0=

EMAIL_KEY=test
EMAIL_UPDATES_FROM_SENDER_NAME=Example
EMAIL_UPDATES_VERIFIED_DOMAIN=noreply@updates.example.com
EMAIL_SUPPORT_FROM_SENDER_NAME="Example Support"
EMAIL_SUPPORT_VERIFIED_DOMAIN=help@support.example.com

# Signup Limits
RL_SIGNUP_IP_RATE=5
RL_SIGNUP_IP_BURST=2

# Signin Limits
RL_SIGNIN_IP_RATE=10
RL_SIGNIN_IP_BURST=10

# Files Limits
RL_FILES_IP_RATE=300
RL_FILES_IP_BURST=100
RL_FILES_USER_RATE=100
RL_FILES_USER_BURST=50

# Devices Limits
RL_DEVICES_IP_RATE=300
RL_DEVICES_IP_BURST=100
RL_DEVICES_USER_RATE=6
RL_DEVICES_USER_BURST=30

# Keys Limits
RL_KEYS_IP_RATE=300
RL_KEYS_IP_BURST=100
RL_KEYS_USER_RATE=100
RL_KEYS_USER_BURST=50

# Refresh & Signout
RL_REFRESH_IP_RATE=10
RL_REFRESH_IP_BURST=5
RL_SIGNOUT_IP_RATE=10
RL_SIGNOUT_IP_BURST=5

HEALTH_TOKEN=
SENTRY_DSN=

# Demo Account Keys
DEMO_MASTER_KDF_SALT=
DEMO_ACC_ENCRYPTION_PUBLIC_KEY=
DEMO_ENC_ENCRYPTION_PRIVATE_KEY=
DEMO_ENCRYPTION_KEY_NONCE=
DEMO_SIGNING_PUBLIC_KEY=
DEMO_ENC_SIGNING_PRIVATE_KEY=
DEMO_SIGNING_KEY_NONCE=
DEMO_DEFAULT_SHARE_PUBLIC_KEY=
DEMO_DEFAULT_SHARE_WRAPPED_PRIVATE_KEY=
DEMO_DEFAULT_SHARE_PRIVATE_KEY_NONCE=
DEMO_DEFAULT_SHARE_ENCRYPTED_PASSPHRASE_FOR_OWNER=
DEMO_DEFAULT_SHARE_SIGNED_ENCRYPTED_PASSPHRASE_FOR_OWNER=
DEMO_REGISTRATION_RECORD=
DEMO_ROOT_NODE_PUBLIC_KEY=
DEMO_ROOT_NODE_WRAPPED_PRIVATE_KEY=
DEMO_ROOT_NODE_PRIV_KEY_NONCE=
DEMO_ROOT_NODE_SIGNED_ENCRYPTED_PASSPHRASE=
DEMO_ROOT_NODE_ENCRYPTED_PASSPHRASE=
WEBHOOK_URL=