NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_S3_ENDPOINT=s3.eu-central-003.backblazeb2.com
NEXT_PUBLIC_SERVER_PUBLIC_KEY=s
NEXT_PUBLIC_CAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001
NEXT_PUBLIC_TURNSTILE_SITE_KEY=10000000-ffff-ffff-ffff-000000000001
